.gameClass{
    height: 80vh;
    background: white;    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.imageBody{
    width: auto;
    height: 100%;
}