.gameClass{
    height: 80vh;
    background: white;    
    display: flex;
    flex-direction: row;        
    text-align: center;
    padding-left: 10px;
    margin-left:10px;
    width: 1000px;
    justify-content: space-between;
}
.imageBody{
    width: auto;
    height: 90%;
    

}
.objetives{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;  
    margin-right: 100px !important;  
    
}

.objetive{
    width: 60px;
    height: 60px;    
    
    border-style: solid;
    border-radius: 15px;
    margin: 10px;
}

.objetiveImage{
    width: 60px;
    height: 60px;    
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgb(19, 19, 17);
}
.buttonStart{
    width: 50px;
    background: gold;
    border-radius: 25px;
    height: 45px;
}
.buttonsClock{
    display:flex;
    flex-direction:column;
}