.headerClass{
    height: max(10vh,35px);
    width: 100%;
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.aHeader{
    text-decoration: none;
    color:white;
}